---
http_interactions:
- request:
    method: get
    uri: https://api.address-validator.net/api/verify?APIKey=<ADDRESS_VALIDATOR_API_KEY>&City=Columbus&CountryCode=us&PostalCode=43215&StreetAddress=123%20e%20Maine%20Street
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Location:
      - verify.json
      Tcn:
      - choice
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"SUSPECT","ratelimit_remain":97,"ratelimit_seconds":114,"cost":1.0,"formattedaddress":"123
        E Main St,Columbus OH 43215-5207","addressline1":"123 E Main St","addresslinelast":"Columbus
        OH 43215-5207","street":"E Main St","streetnumber":"123","postalcode":"43215-5207","city":"Columbus","state":"OH","country":"US","county":"Franklin","type":"S"}

        '
  recorded_at: Sun, 06 Feb 2022 15:04:24 GMT
recorded_with: VCR 6.0.0
